.venv/                                             
dist/                   
build/                  
*.egg-info/

./model
./data


__pycache__/            
*.py[cod]               
*$py.class              
.env                    
.env.*                  
*.log                   


.idea/                  
.vscode/               
*.swp                   
.DS_Store               
Thumbs.db               